In [1]:
from keras.utils.np_utils import to_categorical
import pandas as pd
import numpy as np
import random
import sys

Using TensorFlow backend.

In [2]:
emo = ['Angry', 'Fear', 'Happy',
           'Sad', 'Surprise', 'Neutral']

In [3]:
def load_data(sample_split=0.3, usage='Training', to_cat=True, verbose=True,
              classes=['Angry','Happy'], filepath='./fer2013.csv'):
	return pd.read_csv(filepath, sep=';')

In [4]:
data = load_data(sample_split=1.0, classes=emo, usage='PrivateTest', verbose=True)

In [5]:
data.head()

   emotion                                             pixels     usage
0        0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...  Training
1        0  151 150 147 155 148 133 111 140 170 174 182 15...  Training
2        2  231 212 156 164 174 138 161 173 182 200 106 38...  Training
3        4  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...  Training
4        6  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...  Training

In [6]:
data['emotion'][:5]

0    0
1    0
2    2
3    4
4    6
Name: emotion, dtype: int64

In [7]:
data['pixels'][:5]

0    70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...
1    151 150 147 155 148 133 111 140 170 174 182 15...
2    231 212 156 164 174 138 161 173 182 200 106 38...
3    24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...
4    4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...
Name: pixels, dtype: object

In [8]:
data['usage'][:5]

0    Training
1    Training
2    Training
3    Training
4    Training
Name: usage, dtype: object

In [9]:
emotion = {'Angry': 0, 'Disgust': 1, 'Fear': 2, 'Happy': 3,
           'Sad': 4, 'Surprise': 5, 'Neutral': 6}

In [10]:
df = data[data.usage == 'Training']

In [11]:
df.head()

   emotion                                             pixels     usage
0        0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...  Training
1        0  151 150 147 155 148 133 111 140 170 174 182 15...  Training
2        2  231 212 156 164 174 138 161 173 182 200 106 38...  Training
3        4  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...  Training
4        6  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...  Training

In [12]:
classes=['Angry','Happy']

In [13]:
classes.append('Disgust')

In [14]:
classes

['Angry', 'Happy', 'Disgust']

In [15]:
frames = []
for _class in classes:
        class_df = df[df['emotion'] == emotion[_class]]
        frames.append(class_df)

In [16]:
frames[1][:5]

    emotion                                             pixels     usage
7         3  77 78 79 79 78 75 60 55 47 48 58 73 77 79 57 5...  Training
8         3  85 84 90 121 101 102 133 153 153 169 177 189 1...  Training
14        3  4 2 13 41 56 62 67 87 95 62 65 70 80 107 127 1...  Training
16        3  14 14 18 28 27 22 21 30 42 61 77 86 88 95 100 ...  Training
24        3  252 250 246 229 182 140 98 72 53 44 67 95 95 8...  Training

In [17]:
data = pd.concat(frames, axis=0)

In [18]:
data.head()

    emotion                                             pixels     usage
0         0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...  Training
1         0  151 150 147 155 148 133 111 140 170 174 182 15...  Training
10        0  30 24 21 23 25 25 49 67 84 103 120 125 130 139...  Training
22        0  123 125 124 142 209 226 234 236 231 232 235 22...  Training
23        0  8 9 14 21 26 32 37 46 52 62 72 70 71 73 76 83 ...  Training

In [19]:
data.index

Int64Index([    0,     1,    10,    22,    23,    27,    38,    40,    43,
               56,
            ...
            27925, 28029, 28181, 28203, 28232, 28260, 28332, 28390, 28598,
            28650],
           dtype='int64', length=11646)

In [20]:
int(len(data)*0.3)

3493

In [21]:
type(data)

pandas.core.frame.DataFrame

In [22]:
a=random.sample(range(10000000), 60)

In [23]:
len(a)

60

In [24]:
rows = random.sample(list(data.index), int(len(data)*0.3))
data = data.loc[rows]

In [25]:
 print('{} set for {}: {}'.format(data.usage, classes, data.shape))

4075     Training
7351     Training
22380    Training
23850    Training
7561     Training
17480    Training
22532    Training
25398    Training
14315    Training
10970    Training
6379     Training
26958    Training
797      Training
24883    Training
11118    Training
20228    Training
21767    Training
15322    Training
13559    Training
10138    Training
24255    Training
23168    Training
23756    Training
26013    Training
24379    Training
12613    Training
4545     Training
22498    Training
7174     Training
3873     Training
           ...
11759    Training
13642    Training
13485    Training
24690    Training
15297    Training
15133    Training
13269    Training
18471    Training
14724    Training
7621     Training
5062     Training
16965    Training
5048     Training
2542     Training
17604    Training
10509    Training
2494     Training
13199    Training
22347    Training
3580     Training
21127    Training
23194    Training
12167    Training
27931    Training
14480    Training
7589     Training
26660    Training
9583     Training
14530    Training
24923    Training
Name: usage, Length: 3493, dtype: object set for ['Angry', 'Happy', 'Disgust']: (3493, 3)

In [26]:
def reconstruct(pix_str, size=(48,48)):
    pix_arr = np.array(map(int, pix_str.split()))
    return pix_arr.reshape(size)

In [59]:
pix_str  = data['pixels'].iloc[0]

In [60]:
pix_array = pix_str.split()

In [61]:
len(pix_array)

2304

In [62]:
pix_array[:10]

['44', '48', '47', '61', '68', '51', '51', '55', '43', '52']

In [63]:
type(pix_array[0])

str

In [64]:
print(pix_array[0])

44

In [65]:
p = int(pix_array[0])
p

44

In [66]:
type(p)

int

In [67]:
def converter_int(lista):
    inteiros = []
    for i in lista:
        inteiros.append(int(i))
    return inteiros

In [68]:
pixels = converter_int(pix_array)

In [69]:
pixels[:5]

[44, 48, 47, 61, 68]

In [71]:
type(pixels[0])

int

In [72]:
pix_array = np.array(pixels)

In [73]:
pix_array

array([ 44,  48,  47, ..., 142, 144, 143])

In [129]:
data['pixels'] = data.pixels.apply(lambda x: reconstruct(x))

ValueError: cannot reshape array of size 1 into shape (48,48)